/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-secondary);
}


:root {
  --color-primary: #ce1212;
  --alt-color: #7f7f90;
  --color-secondary: #37373f;
  --color-default: #212529;
  --section-background: #eeeeee;
  --main-transition: 0.5s;
  --main-padding: 60px;
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-default);
  color: var(--color-default);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* end Global Rules */

/* start components */
.container {
  margin: 0 auto;
  padding: 25px 5px;
}

.main-heading {
  text-align: center;
}

.main-heading h2 {
  color: var(--alt-color);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.main-heading p {
  font-size: 50px;
  font-family: var(--font-primary);
  margin: 0;
}

.main-heading span {
  color: var(--color-primary);
}

/* end components */

/* Start Animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* End Animation */


/* start scrolbar */
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-default);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* end scrolbar */


/* start navbar */
.navbar {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 9999;
  box-shadow: 0px 0px 14px 0px #0000001b;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .container .logo h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

.navbar .container .logo h1 a {
  color: #212529;
}

.navbar .container .logo h1 a:after {
  content: ".";
  color: var(--color-primary);
}

.navbar .container ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .container ul li a {
  font-size: 17px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  position: relative;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  text-transform: capitalize;
  padding: 5px 15px;
  color: var(--alt-color);
}

.navbar .container ul li .active {
  color: #000;
}

.navbar .container ul li .active::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  left: 15px;
  width: calc(100% - 30px);
  height: 2px;
  background-color: var(--color-primary);
}

.navbar .container .icons i {
  font-size: 25px;
  color: #000;
}

.navbar .container .icons i {
  font-size: 25px;
  color: #000;
}

.navbar .container .icons .toogle {
  display: none;
}

.navbar .container ul li a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 15px;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: var(--main-transition);
}

.navbar .container ul li:hover a::before {
  width: calc(100% - 30px);
}

.navbar .container ul li:hover a {
  color: #000;
}

/* end navbar */

/* start landing */
.landing {
  background-color: var(--section-background);
}

.landing .container {
  padding-top: 100px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


.landing .container .box,
.landing .container .image {
  width: 40%;
}

.landing .container .box h2 {
  color: var(--color-secondary);
  font-family: var(--font-primary);
  font-size: 65px;
}

.landing .container .box p {
  margin-block: 20px;
  line-height: 1.6;
  font-size: 16px;
  color: #4f4f5a;
}

.landing .container .box .btn-group {
  display: flex;
  align-items: center;
  gap: 40px;
}

.landing .container .box .btn-group .main {
  background-color: var(--color-primary);
  color: white;
  padding: 10px 25px;
  font-size: 15px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  border: 2px solid var(--color-primary);
  border-radius: 0px 765px 765px;
  -webkit-border-radius: 0px 765px 765px;
  -moz-border-radius: 0px 765px 765px;
  -ms-border-radius: 0px 765px 765px;
  -o-border-radius: 0px 765px 765px;
}

.landing .container .box .btn-group .main:hover {
  background-color: #f02323;
}

.landing .container .box .btn-group .video {
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: color var(--main-transition);
  -webkit-transition: color var(--main-transition);
  -moz-transition: color var(--main-transition);
  -ms-transition: color var(--main-transition);
  -o-transition: color var(--main-transition);
  color: inherit;
}

.landing .container .box .btn-group .video .icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-image: linear-gradient(to right, var(--color-primary) 0 50%, transparent 50% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-right: 5px;
  position: relative;
}

.landing .container .box .btn-group .video .icon i {
  z-index: 5;
}

.landing .container .box .btn-group .video .icon::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: inherit;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.landing .container .box .btn-group .video:hover {
  color: var(--color-primary);
}

.landing .container .image img {
  width: 100%;
}

.landing .container .image img:hover {
  animation: shake 1s infinite;
}

/* end landing */

/* start chefs */
.chefs {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}

.chefs .chefs-cards {
  gap: 30px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.chefs .chefs-cards .card {
  width: calc(calc(100% - 30px * 2) / 3);
  background-color: white;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transition: scale var(--main-transition);
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: scale var(--main-transition);
  -moz-transition: scale var(--main-transition);
  -ms-transition: scale var(--main-transition);
  -o-transition: scale var(--main-transition);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.chefs-cards .card:hover {
  scale: 1.07;
}

.chefs .chefs-cards .card .image {
  width: 100%;
  position: relative;
}

.chefs .chefs-cards .card .image img {
  width: 100%;
}

.chefs .chefs-cards .card .image::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  background-image: url(../imgs/team-shape.svg);
  background-repeat: repeat-x;
  width: 100%;
  height: 60px;
}

.chefs-cards .card-content {
  padding: 25px;
  padding-top: 10px;
}

.chefs-cards .card span {
  font-size: 14px;
  color: var(--alt-color);
  margin: 5px 10px;
}

.chefs-cards .card p {
  font-size: 15px;
  font-style: italic;
  color: var(--alt-color);
}

.chefs-cards .social-box {
  background-color: #ffffff4d;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 30px;
  right: -50px;
  transition: right calc(var(--main-transition) / 2);
  -webkit-transition: right calc(var(--main-transition) / 2);
  -moz-transition: right calc(var(--main-transition) / 2);
  -ms-transition: right calc(var(--main-transition) / 2);
  -o-transition: right calc(var(--main-transition) / 2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.chefs-cards .card:hover .social-box {
  right: 10px;
  transition: right var(--main-transition) var(--main-transition);
  -webkit-transition: right var(--main-transition) var(--main-transition);
  -moz-transition: right var(--main-transition) var(--main-transition);
  -ms-transition: right var(--main-transition) var(--main-transition);
  -o-transition: right var(--main-transition) var(--main-transition);
}

.chefs-cards .social-box i {
  font-size: 18px;
  padding: 10px 5px;
  color: #37373f66;
  transition: color var(--main-transition);
  -webkit-transition: color var(--main-transition);
  -moz-transition: color var(--main-transition);
  -ms-transition: color var(--main-transition);
  -o-transition: color var(--main-transition);
}

.chefs-cards .social-box i:hover {
  color: #37373fe6;
}

/* end chefs  */

/* start gallery section */
.gallery {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--section-background);
}

.gallery .gallery-photos {
  height: 1165px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}


.gallery-photos picture {
  width: calc(calc(100% - 20px * 2) / 3);
  border: 4px solid #fff;
  position: relative;
  overflow: hidden;
}

.gallery-photos picture img {
  width: 100%;
  transition: scale var(--main-transition);
  -webkit-transition: scale var(--main-transition);
  -moz-transition: scale var(--main-transition);
  -ms-transition: scale var(--main-transition);
  -o-transition: scale var(--main-transition);
  display: block;
}

.gallery-photos picture .layer {
  background-color: #00000096;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  color: #fff;
  transition: top var(--main-transition);
  -webkit-transition: top var(--main-transition);
  -moz-transition: top var(--main-transition);
  -ms-transition: top var(--main-transition);
  -o-transition: top var(--main-transition);
}

.gallery-photos picture .layer p {
  color: #ddd;
  text-align: center;
}

.gallery-photos picture:hover img {
  scale: 1.1;
}

.gallery-photos picture:hover .layer {
  top: 0;
}

/* end  gallery section   */

/* start contact */
.contact {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}

.contact iframe {
  margin-top: 40px;
  width: 100%;
  height: 350px;
}

.contact .details {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 25px;
}

.contact .details .box {
  width: calc(calc(100% - 15px) / 2);
  display: flex;
  align-items: center;
  padding: 25px;
  background-color: #f5f5f5
}

.contact .details .box h3 {
  color: #7d7d7d;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 5px 0;
}

.contact .details .icon {
  min-width: 50px;
  min-height: 50px;
  background-color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.contact .details .icon i {
  color: white;
  font-size: 18px;
}

.contact form {
  margin-top: 30px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 30px #00000014;
  gap: 15px;
}

.contact form>* {
  width: 100%;
}

.contact form input,
.contact form textarea {
  padding: 15px;
  line-height: 1.5;
  border: 2px solid #e7e7e7;
  color: #212529;
  transition: border-color var(--main-transition);
  -webkit-transition: border-color var(--main-transition);
  -moz-transition: border-color var(--main-transition);
  -ms-transition: border-color var(--main-transition);
  -o-transition: border-color var(--main-transition);
}

.contact form :is(input, textarea):focus {
  outline: none;
  border-color: var(--color-primary);
}

.contact form .input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.contact .input-group input {
  width: calc(calc(100% - 15px) / 2);
}

.contact form textarea {
  min-height: 150px;
  max-height: 300px;
  resize: vertical;
}

.contact form button[type="submit"] {
  cursor: pointer;
  padding: 15px 40px;
  margin-top: 25px;
  width: fit-content;
  background-color: var(--color-primary);
  border: none;
  color: white;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

/* end contact */

/* start footer */
footer {
  background-image: linear-gradient(#0009, #0009),
    url(../imgs/textured-metal-background.jpg);
  color: #fff;
  box-shadow: 0px -1px 5px #0007;
  background-size: contain;
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

footer .container .about,
footer .container .contact-details {
  width: calc(calc(100% - 20px * 2) / 4);
}

footer .container .subscription {
  width: calc(calc(100% - 20px * 2) / 2);
}

footer .about div {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .about .logo {
  font-size: 30px;
}

footer .about .logo::after {
  content: ".";
  color: var(--color-primary);
}

footer .about p {
  margin-block: 10px;
}

footer .about img {
  width: 40px;
  height: 40px;
}

footer .about h3 {
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #ddd6;
  margin-bottom: 10px;
}

footer .about .social-links {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

footer .about .social-links i {
  font-size: 24px;
}

footer .subscription-box p {
  margin-block: 10px;
}

footer .sunscription-group {
  margin-block: 20px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

footer .sunscription-group input {
  flex-grow: 1;
  padding: 10px;
}

footer .sunscription-group input:focus-visible {
  outline: none;
}

footer .sunscription-group button {
  cursor: pointer;
  border: none;
  background-color: var(--color-primary);
  color: white;
}

footer .quick-links ul {

  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

footer .quick-links ul li {
  width: calc(calc(100% - 20px) / 2);
  padding: 5px;
  position: relative;
  transition: transform var(--main-transition), background-color var(--main-transition);
  -webkit-transition: transform var(--main-transition), background-color var(--main-transition);
  -moz-transition: transform var(--main-transition), background-color var(--main-transition);
  -ms-transition: transform var(--main-transition), background-color var(--main-transition);
  -o-transition: transform var(--main-transition), background-color var(--main-transition);
}

footer .quick-links ul li:hover {
  transform: translateX(10px);
  background-color: #222;
}

footer .quick-links ul li::before {
  content: "\f105";
  font: var(--fa-font-solid);
  margin-right: 5px;
}

footer .contact-details h3 {
  margin-bottom: 10px;
}

footer .contact-details ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}

footer .contact-details ul li i {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  font-size: 22px;
  cursor: pointer;
}

/* end footer */